/*----------------------
タブレット
----------------------*/
@media screen and (max-width:959px){

    /* ------ 共通 --------*/
    #_top, #_contact {
        .common-container {
            width: 100%;

            .headline-wrap {
                margin-bottom: 51px;
                text-align: left;

                h2 {
                    font-size: 46px;
                    letter-spacing: 3px;
                    margin-right: 0;
                }
                hr {
                    width: 90px;
                    transform: translate(10px, -6px);
                }
            }
        }
    }

    /* -------------------------------*/
    /* ------ トップページ ------------*/
    /* -------------------------------*/
    #_top {

        /* ヘッダー*/
        header {
            padding: 0 15px;
            justify-content: space-between;

            .header-right {
                display: none;
            }
            .sp-menu-icon {
                display: block;
            }
            .sp-close-icon {
                right: 13px;
                top: 46px;
            }
        }

        /* メイン */
        main {

            /* スライダー*/
            .s-content {
                img {
                    height: 599px;
                }
                .s-text {
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    h2 {
                        font-size: 46px;
                        letter-spacing: 1.85px;
                        line-height: 1.25;
                    }
                    h3 {
                        font-size: 28px;
                        letter-spacing: 1.5px;
                        line-height: 1.666666666666667;
                        width: 100%;
                        margin: 0 auto;
                        text-align: center;
                    }
                }
            }

            /* コンセプト */
            .concept-container {
                padding: 0 15px;

                h3 {
                    height: 100%;
                    font-size: 28px;
                    letter-spacing: 1px;
                    line-height: 1.5;
                    margin: 0 auto 31px;
                }
                .concept-content {
                    display: block;
                    margin-bottom: 40px;

                    .concept-text {
                        width: 100%;
                        margin-bottom: 30px;
                    }
                    .concept-img {
                        text-align: center;

                        img {
                            margin-bottom: 0;
                            width: 60%;
                        }
                    }
                }
                .bg-text {
                    font-size: 40px;
                    letter-spacing: 2px;
                    line-height: 1.675;
                    height: 100%;
                }
            }

            /* ワーク */
            .works-container {
                margin-top: 40px;
                padding: 100px 15px 40px;

                .headline-wrap {
                    margin-bottom: 51px;
                    text-align: center;
                }
                .works {
                    padding: 0;

                    .work {
                        width: 100%;

                        &:last-of-type {
                            margin: 0;
                        }
                        .work-text {
                            height: 100%;
                            min-height: 134px;
                            padding: 10px;
                        }
                    }
                }
                .btn-wrap {
                    padding-bottom: 40px;
                }
                .bg-text {
                    font-size: 40px;
                    letter-spacing: 2px;
                    line-height: 1.5;
                    height: 100%;
                    padding-left: 10px;
                }
            }

            /* サービス */
            .service-container {
                padding-bottom: 64px;

                .headline-wrap {
                    margin: 0 0 51px 0;
                    text-align: center;
                }

                .services{
                    margin-bottom: 40px;

                    .service {
                        margin-bottom: 30px;

                        .service-img{
                            img {
                                width: 100%;
                            }
                        }
                        .service-text{
                            font-size: 36px;
                            letter-spacing: 1px;
                            line-height: 2.5;
                        }
                    }
                }
                .btn-wrap {
                    padding-bottom: 40px;
                }
                .bg-text {
                    font-size: 40px;
                    letter-spacing: 2px;
                    line-height: 1.5;
                    height: 100%;
                    padding-right: 15px;
                }
            }

            /* コンタクト */
            .contact-container {
                margin: 0;
                padding: 100px 15px 40px;

                .headline-wrap {
                    text-align: center;
                    margin-bottom: 51px;
                }
                .btn-wrap {
                    margin-bottom: 40px;
                }
                .bg-text {
                    font-size: 40px;
                    letter-spacing: 2px;
                    line-height: 1.5;
                    color: $font-white;
                    opacity: 0.05;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    /* -------------------------------*/
    /* ------ コンタクトページ --------*/
    /* -------------------------------*/
    #_contact {

        /* ヘッダー */
        header {
            padding: 0 15px;
            justify-content: space-between;

            .header-right {
                display: none;
            }

            .sp-menu-icon {
                width: 30px;
                height: 3px;
                background-color: #FFF;
                position: relative;
                display: block;
                cursor: pointer;

                &::before {
                    content: "";
                    width: inherit;
                    height: inherit;
                    background-color: #FFF;
                    position: absolute;
                    top: -8px;
                    box-sizing: inherit;
                }
                &::after {
                    content: "";
                    width: inherit;
                    height: inherit;
                    background-color: #FFF;
                    position: absolute;
                    top: 8px;
                    box-sizing: inherit;
                }
            }
            .sp-close-icon {
                right: 13px;
                top: 46px;
            }
        }

        /* メイン */
        main {
            .main-img {
                h2 {
                    margin-bottom: 30px;
                }
                .bg-text {
                    font-size: 54px;
                    padding-left: 50px;
                }
            }

            /* コンタクトフォーム */
            .contact-container {
                form {
                    padding: 0 15px 0;
                    width: 100%;
                    margin: 80px auto;

                    div {

                        .checkbox {
                            p {
                                margin-bottom: 13px;
                            }
                            label {
                                display: block;
                                margin-bottom: 5px;

                                &:last-of-type {
                                    margin-bottom: 0;
                                }

                                &::before {
                                    margin-left: 0;
                                    margin-right: 7px;
                                }

                                span {
                                    letter-spacing: 0.8px;
                                    line-height: 1.3125;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /* -------------------------------*/
    /* ------ ブログ一覧ページ --------*/
    /* -------------------------------*/
    #_bloglist {

        /* ヘッダー */
        header {
            padding: 0 15px;
            justify-content: space-between;

            .header-right {
                display: none;
            }
            .sp-menu-icon {
                width: 30px;
                height: 3px;
                background-color: #FFF;
                position: relative;
                display: block;
                cursor: pointer;

                &::before {
                    content: "";
                    width: inherit;
                    height: inherit;
                    background-color: #FFF;
                    position: absolute;
                    top: -8px;
                    box-sizing: inherit;
                }
                &::after {
                    content: "";
                    width: inherit;
                    height: inherit;
                    background-color: #FFF;
                    position: absolute;
                    top: 8px;
                    box-sizing: inherit;
                }
            }
        }

        /* ハンバーガーメニュー */
        .humbergur {
            .sp-close-icon {
                right: 13px;
                top: 46px;
            }
            .sidebar-widget {
                height: 100%;
                transform: translate(0%, 23%);

                .sidebar-item {
                    margin-bottom: 80px;
                    text-align: center;

                    .widgettitle {
                        margin-bottom: 30px;
                        color: #fff;
                        font-size: 1.5rem;

                        + ul {
                            transform: translate(0, 0);
                        }
                    }
                    li {
                        margin-bottom: 30px;
                        height: 25%;
                        
                        a {
                            font-size: 1.5rem;
                            color: #FFF;
                            letter-spacing: 0.05em;
                            display: block;
                            height: 100%;
                        }
                    }
                    .current-cat {
                        a {
                            color: #F7D43F;
                            pointer-events: none;
                        }
                    }
                }
            }
        }

        /* メイン画像 */
        .main-img {
            h2 {
                margin-bottom: 30px;
            }
            .bg-text {
                font-size: 54px;
                padding-left: 50px;
            }
        }

        /* メインコンテンツ */
        .main-container {
            margin-top: 0;

            main {
                width: 100%;
                margin-right: 0;

                .bloglist-container {
                    .article-list {
                        .article-item:first-child {
                            border-top: none;
                        }
                    }
                }
            }
            /* ページネーション */
            .pagenation {
                width: 100%;
                margin: 0;
            }
            > .sidebar-widget {
                display: none;
            }
        }
    }

    /* -------------------------------*/
    /* ------ ブログ記事ページ --------*/
    /* -------------------------------*/
    #_blogitem {

        /* ヘッダー */
        header {
            padding: 0 15px;
            justify-content: space-between;

            .header-right {
                display: none;
            }
            .sp-menu-icon {
                width: 30px;
                height: 3px;
                background-color: #FFF;
                position: relative;
                display: block;
                cursor: pointer;

                &::before {
                    content: "";
                    width: inherit;
                    height: inherit;
                    background-color: #FFF;
                    position: absolute;
                    top: -8px;
                    box-sizing: inherit;
                }
                &::after {
                    content: "";
                    width: inherit;
                    height: inherit;
                    background-color: #FFF;
                    position: absolute;
                    top: 8px;
                    box-sizing: inherit;
                }
            }
        }

        /* ハンバーガーメニュー */
        .humbergur {
            .sp-close-icon {
                right: 13px;
                top: 46px;
            }
            .sidebar-widget {
                height: 100%;
                transform: translate(0%, 23%);

                .sidebar-item {
                    margin-bottom: 80px;
                    text-align: center;

                    .widgettitle {
                        margin-bottom: 30px;
                        color: #fff;
                        font-size: 1.5rem;

                        + ul {
                            transform: translate(0, 0);
                        }
                    }
                    li {
                        margin-bottom: 30px;
                        height: 25%;
                        
                        a {
                            font-size: 1.5rem;
                            color: #FFF;
                            letter-spacing: 0.05em;
                            display: block;
                            height: 100%;
                        }
                    }
                }
            }
        }

        /* メイン画像 */
        .main-img {
            h2 {
                margin-bottom: 30px;
            }
            .bg-text {
                font-size: 54px;
                padding-left: 50px;
            }
        }

        /* メインコンテンツ */
        .main-container {
            margin-top: 0;

            main {
                width: 100%;
                margin-right: 0;

                .blogitem-container {
                    .article-list {
                        .article-item {
                            padding: 20px 35px 0;
                        }
                    }
                }
            }
            /* ページネーション */
            .pagenation {
                width: 100%;
                margin: 0;
            }
            > .sidebar-widget {
                display: none;
            }
        }
    }
}

/*----------------------
スマホ(iphone6,7,8以外)
----------------------*/
@media screen and (max-width:559px){

    /* -------------------------------*/
    /* ------ トップページ --------*/
    /* -------------------------------*/
    #_top {
        main {

            /* スライダー */
            .s-text {
                width: 100%;
                left: 0;
                transform: translate(0, -50%);
                text-align: center;
            }

            /* コンセプト */
            .concept-container {
                .headline-wrap {
                    margin-left: 0;
                }
                h3 {
                    width: 100%;
                    font-size: 24px;
                }
                .concept-content {
                    .concept-text {
                        font-size: 14px;
                    }
                    .concept-img {
                        img {
                            width: 100%;
                        }
                    }
                }
            }

            /* ワークス */
            .works-container {
                .works {
                    display: block;

                    .work:not(:last-child) {
                        margin-bottom: 20px;
                    }

                    .wp-block-gallery {
                        display: block;
                    }
                }
            }

            /* サービス */
            .service-container {
                .services {
                    display: block;
                }
            }
        }
    }

    /* -------------------------------*/
    /* ------ ブログ一覧ページ --------*/
    /* -------------------------------*/
    #_bloglist {
        .main-container {
            main {
                .bloglist-container {
                    .article-list {
                        .article-item {
                            .item-body {
                                display: block;

                                .img-wrap {
                                    margin-right: 0;

                                    img {
                                        width: 100%;
                                    }
                                }
                                .text-wrap {
                                    width: 100%;
                                    margin-top: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


/*----------------------
iphone6,7,8
----------------------*/
@media screen and (max-width:375px){

    /* -------------------------------*/
    /* ----------- 共通 --------------*/
    /* -------------------------------*/
    #_top, #_contact {
        .common-container {
            .headline-wrap {
                h2 {
                    font-size: 32px;
                }
            }
        }
    }

    /* -------------------------------*/
    /* --------- トップページ ---------*/
    /* -------------------------------*/
    #_top {
        main {
            /* コンセプト */
            .concept-container {
                h3 {
                    font-size: 24px;
                }
                .concept-content {
                    .concept-text {
                        font-size: 14px;
                    }
                }
            }
            .common-btn {
                padding: 19px 20%;
            }
        }
    }
    /* -------------------------------*/
    /* ------- コンタクトページ -------*/
    /* -------------------------------*/
    #_contact {
        main {
            .main-img {
                h2 {
                    font-size: 40px;
                }
                .bg-text {
                    font-size: 35px;
                    padding-left: 15px;
                }
            }
            form {
                .common-btn {
                    padding: 19px 20%;
                }
            }
        }
    }
    /* -------------------------------*/
    /* ------ ブログ一覧ページ --------*/
    /* -------------------------------*/
    #_bloglist {
        .main-img {
            h2 {
                font-size: 40px;
            }
            .bg-text {
                font-size: 35px;
                padding-left: 15px;
            }
        }
    }
    /* -------------------------------*/
    /* ------ ブログ記事ページ --------*/
    /* -------------------------------*/
    #_blogitem {
        .main-img {
            h2 {
                font-size: 40px;
            }
            .bg-text {
                font-size: 35px;
                padding-left: 15px;
            }
        }
        .main-container {
            main {
                .blogitem-container {
                    .article-list {
                        .article-item {
                            padding-left: 20px;
                            padding-right: 20px;
                        }
                    }
                }
            }
        }
    }
}