.bg-text {
    display: inline-block;
    width: 100%;
    font-weight: bold;
    font-size: 90px;
    letter-spacing: 4.5px;
    line-height: 1.666666666666667;
    color: $bg-white-text;
    text-align: right;
}
