/*-------------------------------
文字
-------------------------------*/
/* color ----------------------*/
/* ベース */
$font-white: #FFF;
$font-black: #282F35;

/* 背景テキスト */
$bg-white-text: #F3F3F3;
$bg-black-text: #4B4C4F;

/* font-family ----------------------*/
$jp-text: "Noto Serif JP";
$en-text: "Noto Serif";
